<footer class="main-footer-container">
	<div class="main-footer-flex">
		<div class="main-footer-first">
			<div class="main-footer-textarea">
				<a href="https://about.meta.com" target="_blank">Meta</a>
				<a href="https://about.instagram.com" target="_blank">소개</a>
				<a href="https://about.instagram.com/blog" target="_blank"
					>블로그</a
				>
				<a
					href="https://about.instagram.com/about_us/careers"
					target="_blank"
					>채용정보</a
				>
				<a href="https://help.instagram.com" target="_blank">도움말</a>
				<a
					href="https://developers.facebook.com/docs/instagram"
					target="_blank"
					>API</a
				>
				<a href="https://www.instagram.com/legal/privacy/" target="_blank"
					>개인정보처리방침</a
				>
				<a href="https://www.instagram.com/legal/terms/" target="_blank"
					>약관</a
				>
				<a
					href="https://www.instagram.com/explore/locations/"
					target="_blank"
					>위치</a
				>
				<a href="https://www.instagram.com/web/lite/" target="_blank"
					>Instagram Lite</a
				>
				<a href="https://www.threads.net/" target="_blank">Threads</a>
				<a
					href="https://www.facebook.com/help/instagram/261704639352628"
					target="_blank"
					>연락처 업로드 & 비사용자</a
				>
				<a
					href="https://www.instagram.com/accounts/meta_verified/?entrypoint=web_footer"
					target="_blank"
					>Meta Verified</a
				>
			</div>
		</div>
		<div class="main-footer-second">
			<span class="main-footer-lang">
				<div class="main-footer-lang-flex">
					<span style="line-height: 16px">한국어</span>
					<div class="lang"></div>
				</div>
			</span>
			<div class="main-footer-meta">
				<span>© 2024 Instagram from Meta</span>
			</div>
		</div>
	</div>
</footer>
<script src="js/footer.js"></script>
