body {
	background-color: var(--base-background-color);
}

.left-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 250px;
	height: 100vh;
	background-color: var(--base-background-color);
	border-right: 1px solid var(--divider);
	position: fixed;
	top: 0;
	left: 0;
	padding: 8px 20px 12px 12px;
	box-sizing: border-box;
}

/* 검색 탭을 눌렀을때 변화하는 left-container 부분 */
.left-container.small {
	width: 70px;
	padding: 10px;
	transition: width 0.3s ease, padding 0.3s ease;
}

.left-container.small .insta-logo {
	display: none;
}

.left-container.small .insta-logo2 {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.left-container.small .middle_container li span {
	display: none;
}

.left-container.small .bottom_container li span {
	display: none;
}

.left-container.small .middle-item {
	width: 23px;
}

.left-container.small .bottom-item {
	width: 23px;
}

/* 로고 */
.logo_container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 30px 0 0 12px;
	margin-bottom: 30px;
}

.logo_container img {
	width: 100px;
	height: auto;
}

.insta-logo2 img {
	width: 22px;
	height: 22px;
	margin-left: 5px;
}

/* 중앙 기능들 부분 입니다. */
.middle_container {
	width: 100%;
}

.middle_container ul {
	list-style: none;
	padding: 0;
	margin: 0;
	flex-grow: 1;
}

.middle_container li {
	display: flex;
	align-items: center;
	padding: 17px 15px 15px 15px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.middle_container li span {
	color: var(--text-color);
}

.middle_container li:hover {
	background-color: var(--base-secondary-background-color);
	border-radius: 8px;
}

.middle_container li img {
	width: 24px;
	height: 24px;
	margin-right: 19px;
}

.middle-item {
	width: 190px;
}

/* bottom, 더보기 섹션 */
.bottom {
	width: 220px;
}

.bottom_container {
	width: 100%;
}

.bottom_container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.bottom_container li {
	display: flex;
	align-items: center;
	padding: 15px 15px 15px 15px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.bottom_container li span {
	color: var(--text-color);
}

.bottom_container li:hover {
	background-color: var(--base-secondary-background-color);
	border-radius: 8px;
}

.bottom_container li img {
	width: 24px;
	height: 24px;
	margin-right: 15px;
}

/* 드롭다운 메뉴 */
.dropdown_menu {
	display: none;
	position: absolute;
	bottom: 8%;
	left: 12px;
	width: 270px;
	height: auto;
	color: var(--text-color);
	background: var(--always-white);
	border-radius: 18px;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
	z-index: 100;
}

.dark .dropdown_menu {
	background-color: var(--base-secondary-background-color);
}

.dropdown_menu.hidden {
	display: none;
	/* hidden 클래스가 있을 때도 숨김 */
}

.dropdown_menu:not(.hidden) {
	display: block;
	/* hidden 클래스가 없을 때 표시 */
}

/* 드롭다운 아이템 */
.dropdown-toggle {
	display: contents;
}

.dropdown-item {
	color: var(--text-color);
	display: flex;
	align-items: flex-start;
	border-radius: 10px;
	font-size: 15px;
	padding: 13px;
	margin: 6px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.dropdown-item:hover {
	background-color: var(--base-secondary-background-color);
}

.dropdown_menu li img {
	width: 22px;
	height: 22px;
	margin-right: 14px;
	color: var(--text-color);
}

/* 숨겨진 서브메뉴 */
.hidden {
	display: none;
}

/* 여기서 부터 모드전환 부분 */
.mode-menu {
	position: absolute;
	bottom: 8%;
	left: 12px;
	width: 250px;
	height: 105px;
	color: var(--text-color);
	background-color: var(--always-white);
	border-radius: 18px;
	padding: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 101;
}

.dark .mode-menu {
	background-color: var(--base-secondary-background-color);
}

/* 메뉴 헤더 스타일 */
.menu-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 8px;
	padding-bottom: 3px;
}

.backbtn {
	position: static;
	top: 10px;
	right: 10px;
	border-radius: 50%;
	border-color: rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
}

.backbtn img {
	width: 14px;
	height: 14px;
	margin-right: 5px;
}

.sunny {
	display: flex;
	align-items: center;
	margin-left: 120px;
	padding-bottom: 3px;
}

/* 여기서부터는 다크모드 스위치 부분 */
.menu {
	padding: 15px;
	margin-top: 3px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 15px;
	font-size: 14px;
}

.menu:hover {
	background-color: var(--base-secondary-background-color);
}

.menu-item {
	display: flex;
	justify-content: space-between;
}

.switch {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 20px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--base-secondary-background-color);
	border-radius: 20px;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 3px;
	bottom: 3px;
	background-color: var(--base-background-color);
	border-radius: 50%;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--radio-background-color);
}

input:checked + .slider:before {
	transform: translateX(14px);
	background-color: var(--always-black);
}

/* a 태그 속성 변경 */
a {
	text-decoration: none;
	color: inherit;
	display: flex;
	align-items: center;
}

a:hover {
	color: inherit;
}

.middle-item a {
	gap: 0px;
}

/* 여기부터는 최소 화면 일때 나타내는 ui 입니다 */
.left_sidebar_min_header {
	width: 760px;
	height: 60px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 16px;
	font-weight: 600;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
	overflow: visible;
	background-color: var(--base-background-color);
}

.left_sidebar_min_header::before {
	background-color: var(--base-secondary-background-color);
	bottom: -1px;
	content: "";
	height: 1px;
	left: 0;
	right: 0;
	position: absolute;
}

/* 로고 부분 */
.min-logo {
	align-items: flex-start;
	align-self: auto;
	align-content: stretch;
	display: flex;
	justify-content: flex-start;
	position: static;
	margin: 10px;
	padding: 8px;
}

.min-logo img {
	width: 100px;
	height: auto;
}

/* 검색 부분 */
.min-search {
	display: flex;
	flex-basis: 32px;
	align-items: center;
	justify-content: end;
	flex-direction: row;
	width: 270px;
	margin: 10px;
	overflow: visible;
	position: relative;
}

.min-search-section {
	display: block;
	margin-right: 12px;
	padding-right: 8px;
}

.min-search-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 36px;
}

.min_search_box {
	z-index: 2;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	height: 36px;
	width: 100%;
	height: 100%;
	min-width: 200px;
	position: absolute;
	padding-left: 16px;
	padding-right: 16px;
	cursor: text;
	color: rgb(115, 115, 115);
	background-color: var(--base-secondary-background-color);
	border-radius: 8px;
	/* transition: background-color 0.3s ease; */
}

.search-input {
	position: relative;
	color: white;
	border-color: 1px solid #888;
}

/* 검색 placeholder 투명하게 하는 부분 */
.min_search_box input::-webkit-input-placeholder {
	color: transparent;
}

.min_search_box input:focus::-webkit-input-placeholder {
	color: #888;
}

.clear-icon {
	display: none;
	cursor: pointer;
	font-size: 14px;
	color: #888;
	margin-left: 8px;
}

.min_search_box.focused .clear-icon {
	display: block;
}

.serachbox {
	overflow: visible;
	outline: none;
	appearance: none;
	height: 36px;
	line-height: 18px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 16px;
	padding-right: 16px;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(239, 239, 239);
	border-bottom-width: 0;
	border-bottom-color: rgb(118, 118, 118);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: inset;
	border-left-color: rgb(118, 118, 118);
	border-left-width: 0;
	border-left-style: inset;
	border-right-color: rgb(118, 118, 118);
	border-right-width: 0;
	border-right-style: inset;
	border-top-color: rgb(118, 118, 118);
	border-top-style: inset;
	border-top-left-radius: 8px;
	border-top-width: 0;
	border-top-right-radius: 8px;
	box-sizing: border-box;
	color: rgb(136, 136, 136);
	cursor: text;
	display: block;
	font-size: 15px;
	font-weight: 330;
	overflow-x: clip;
	overflow-y: clip;
	padding-block-end: 3px;
	padding-block-start: 3px;
	padding-bottom: 3px;
	padding-inline-end: 16px;
	padding-inline-start: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 3px;
	text-align: start;
	z-index: 2;
}

.min-search-big {
	align-content: stretch;
	align-content: center;
	box-sizing: border-box;
	height: 36px;
	line-height: 18px;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
	z-index: 2;
	display: flex;
	cursor: text;
	color: rgb(115, 115, 115);
	margin-right: 200px;
}

.min-search-middle {
	height: 36px;
	display: flex;
	align-content: stretch;
	align-items: center;
	box-sizing: border-box;
	display: flex;
	cursor: text;
	flex-direction: row;
	overflow-x: visible;
	overflow-y: visible;
	position: static;
	justify-content: flex-start;
	position: static;
	text-size-adjust: 100%;
	max-width: 60px;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	text-wrap-mode: nowrap;
	white-space-collapse: collapse;
	margin-left: 50px;
}

/* 검색 아이콘 & 글 부분 */
.icon-section {
	color: rgb(141, 141, 141);
	cursor: text;
	display: flex;
	margin-right: 12px;
	position: relative;
	font-size: 15px;
	font-weight: lighter;
}

.icon-section img {
	margin-right: 5px;
}

.min-search-icon {
	color: var(--badge-background-color-dark-gray);
	cursor: text;
	display: block;
	fill: var(--badge-background-color-dark-gray);
	height: 16px;
	line-height: 18px;
	overflow-clip-margin: content-box;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	width: 16px;
}

/* 알림 부분 */
.min-heart {
	display: flex;
	height: 24px;
	line-height: 18px;
	margin-right: 40px;
	width: 40px;
}

.min-heart-section {
	display: block;
	line-height: 18px;
	width: 24px;
}

.min-heart-icon {
	display: block;
	flex-direction: row;
	height: 24px;
	line-height: 18px;
	min-height: 0;
	min-width: 0;
	width: 24px;
	cursor: pointer;
	list-style-position: outside;
	overflow: visible;
	position: relative;
	text-align: start;
	z-index: 2;
}

.min-heart-section img {
	display: flex;
	margin-left: 180px;
	margin-top: 5px;
	width: 25px;
	height: 25px;
}

/* 최소화면일때 나타나는 bottom 부분 입니다. */
.sidebar-min-botttom {
	align-items: center;
	background-color: var(--base-background-color);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	font-size: 14px;
	height: 50px;
	justify-content: space-around;
	line-height: 18px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 2;
	border-top: 1px solid rgb(219, 219, 219);
}

.sidebar-min-botttom-section {
	align-content: stretch;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	height: 50px;
	justify-content: flex-start;
	line-height: 18px;
	position: relative;
	width: 760px;
}

.sidebar-min-botttom-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	z-index: 1;
}

.sidebar-min-botttom-contents {
	background-color: var(--base-background-color);
	color: var(--text-color);
	display: block;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.sidebar-min-botttom-content {
	margin: 10px;
	border-top-width: 1px;
	box-sizing: border-box;
	color: var(--text-color);
	display: flex;
	flex-direction: row;
	font-size: 14px;
	height: 49px;
	justify-content: space-evenly;
	position: relative;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.sidebar-min-botttom-btns {
	color: var(--text-color);
	display: flex;
	font-size: 14px;
	height: 48px;
	justify-content: space-evenly;
	flex-grow: 1;
	padding: 0 20px;
	gap: 10px;
}

.min_bottom_btn {
	align-items: center;
	display: flex;
	position: relative;
	justify-content: center;
	flex-grow: 1;
	max-width: 60px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

.min_bottom_btn img {
	width: 24px;
	height: 24px;
	justify-content: center;
}

/* 오른쪽 사이드바 부분 */
.right-side {
	background-color: var(--base-background-color);
	width: 383px;
	height: 100%;
	left: 0%;
	position: relative;
}

.right-side-name {
	justify-content: space-between;
}

.right-side-name-style {
	display: flex;
	align-items: center;
	margin: 18px;
}

.profile-box {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.profile-img {
	width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.name-content {
	display: flex;
	flex-direction: column;
}

.name-txt {
	font-size: 14px;
	padding: 2px 10px;
	font-weight: bold;
	cursor: pointer;
}

.name-id {
	font-size: 12px;
	padding: 0 10px;
	color: var(--secondary-text-color);
	text-overflow: ellipsis;
	width: 220px;
	overflow: hidden;
}

.big-profile-box {
	overflow: hidden;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}


.link-text {
	color: var(--primary);
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	margin-left: 5px;
}

.recommend-box {
	display: flex;
	justify-content: space-between;
	padding: 12px;
	align-items: center;
}

.recommend-box-1 {
	font-size: 15px;
	font-weight: bold;
	color: var(--secondary-text-color);
}

.recommend-box-2 {
	font-size: 12px;
	font-weight: 600;
	color: var(--text-color);
	cursor: pointer;
	margin-right: 20px;
}

.recommend-box-2:hover {
	color: var(--secondary-text-color);
}

/* 홈 화면 검색탭 부분입니다 */
.search-tab {
	color: #f5f5f5;
	z-index: 3;
	display: block;
	position: absolute;
	left: 73px;
	transform: translateX(0%);
	display: none;
}

.search-tab.show {
	display: block;
	position: fixed;
}

.search-tab-section {
	border-bottom-right-radius: 16px;
	border-top-right-radius: 16px;
	background-color: var(--base-background-color);
	border-right: 1px solid #dbdbdb;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 397px;
	height: 100vh;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.15) 4px 0px 24px 0px;
	display: flex;
	flex-direction: column;
}

.search-container {
	display: flex;
	flex-direction: column;
	opacity: 1;
}

.search-title {
	display: block;
	padding-top: 12px;
	padding-bottom: 36px;
	padding-right: 14px;
	padding-left: 24px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.search-title-txt {
	color: var(--text-color);
	display: block;
	font-size: 24px;
	font-weight: 600;
	position: relative;
	text-align: start;
}

.search-bottom {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	align-content: stretch;
	align-items: center;
	position: relative;
	overflow: visible;
}

.search-bottom-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
	align-items: center;
	position: relative;
	overflow: visible;
	width: 396px;
}

.search-bottom_container {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.search-box-section {
	align-items: flex-start;
	font-size: 16px;
	flex-direction: column;
	height: 40px;
	margin-bottom: 24px;
	cursor: pointer;
	min-width: 125px;
	position: relative;
	margin-left: 12px;
	margin-right: 12px;
	z-index: 2;
}

.search-box-tab {
	position: relative;
	appearance: none;
	box-sizing: border-box;
	background-color: var(--base-secondary-background-color);
	color: var(--text-color);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-style: inset;
	border-top-style: inset;
	border-image-width: 1;
	box-sizing: border-box;
	overflow-x: clip;
	overflow-y: clip;
	cursor: text;
	display: block;
	font-size: 16px;
	font-weight: 400;
	height: 40px;
	overflow: visible;
	padding-block-end: 3px;
	padding-block-start: 3px;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-inline-start: 16px;
	padding-inline-end: 16px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: start;
	width: 364px;
	border: none;
	outline: none;
	/* transition: all 0.2s ease-in-out; */
	z-index: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}

.search-box-tab:focus {
	z-index: 3;
}

.search-box-section input::-webkit-input-placeholder {
	color: transparent;
}

.search-box-section input:focus::-webkit-input-placeholder {
	color: #888;
	font-weight: 300;
}

.search-x-btn {
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
	width: 14.5px;
	height: 14.5px;
	cursor: pointer;
	z-index: 3;
	display: none;
}

.search-box-small-section {
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-sizing: border-box;
	color: var(--secondary-text-color);
	cursor: text;
	font-size: 14px;
	height: 40px;
	padding-bottom: 10px;
	padding-top: 0;
	padding-left: 10px;
	padding-right: 16px;
	width: 100%;
	z-index: 2;
	display: flex;
	transition: all 0.2s ease-in-out;
}

.search-box-vsmall-section {
	align-content: stretch;
	align-items: center;
	box-sizing: border-box;
	color: var(--secondary-text-color);
	cursor: text;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: static;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	margin-bottom: 20px;
}

.search-box-tab:focus + .search-box-small-section {
	background-color: transparent;
}

.search_box_icon {
	font-size: 16px;
	margin-right: 10px;
	height: 16px;
	cursor: text;
	width: 10px;
	line-height: 18px;
	color: var(--secondary-text-color);
	position: relative;
	margin-bottom: 50px;
}

.search-tab-icon {
	cursor: text;
	display: block;
	position: relative;
	height: 16px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.search-box-title {
	font-size: 16px;
	font-weight: 300;
	max-width: 290px;
	margin-bottom: 50px;
	white-space: nowrap;
	overflow: hidden;
}

.search_box_line {
	width: 100%;
	border: 1px solid var(--divider);
	background-clip: border-box;
	box-sizing: border-box;
	background-origin: padding-box;
}

.search_name_content {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

.recent-text {
	font-size: 16px;
	color: var(--text-color);
	font-weight: bold;
	margin-right: 200px;
}

.delete-text {
	font-size: 13px;
	font-weight: 600;
	color: var(--primary);
	cursor: pointer;
}

.no_results {
	margin-top: 70%;
	/* 부모 요소의 절반 높이만큼 아래로 이동 */
	transform: translateY(-50%);
	font-size: 14px;
	color: var(--secondary-text-color);
	text-align: center;
	white-space: nowrap;
	color: var(--secondary-text-color);
}

.search-list {
	background-color: var(--base-background-color);
	width: 100%;
	height: 100%;
	position: relative;
}

.search-list-container {
	justify-content: space-between;
}

.search_list_style {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 8px 24px;
	cursor: pointer;
}

.search_list_style:hover {
	background-color: var(--base-secondary-background-color);
}

.search_list_style:active {
	opacity: 0.6;
}

.search_list_box {
	width: 44px;
	height: 44px;
	border-radius: 70%;
	overflow: hidden;
}

.search_profile {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

.search_list_text_box {
	align-items: flex-start;
	align-content: stretch;
	box-sizing: border-box;
	justify-content: center;
	text-align: start;
	width: 270px;
	display: flex;
	flex-direction: column;
	margin-left: 3px;
}

.search_list_text_box_username {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.list_id {
	font-size: 14px;
	font-weight: bold;
	color: var(--text-color);
	padding: 2px 2px 2px 10px;
	cursor: pointer;
}

.search_list_id {
	font-size: 14px;
	font-weight: bold;
	color: var(--text-color);
	padding: 2px 2px 2px 10px;
	cursor: pointer;
}

.verified_img {
	margin-top: 2px;
}

.search_list_followers_box {
	max-width: 108%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	padding: 2px 10px;
	font-size: 14px;
	font-weight: 400;
	color: var(--secondary-text-color);
}

.dot {
	font-size: 18px;
	font-weight: 600;
	padding: 0 3px;
	line-height: 1;
	vertical-align: middle;
}

.list_name {
	font-size: 14px;
	font-weight: 400;
	color: var(--secondary-text-color);
	padding: 2px 10px;
	cursor: pointer;
}

.search_list_name {
	white-space: nowrap;
	overflow: visible;
}

.list_followers {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-shrink: 1;
}

.list-delete {
	cursor: pointer;
	border-radius: 70%;
	font-size: 20px;
	color: var(--secondary-text-color);
	margin-left: auto;
	padding-right: 8px;
	position: relative;
}

/* 미디어쿼리 작성부분 */
@media screen and (min-width: 1263px) {
	.left-container {
		display: flex;
	}

	.left-sidebar-min {
		display: none;
	}

	.left-sidebar-min-botttom {
		display: none;
	}

	.insta-logo2 {
		display: none;
	}
}

@media (min-width: 767px) and (max-width: 1262px) {
	.insta-logo {
		display: none;
	}

	.insta-logo2 {
		display: flex;
		transition: transform 0.5s ease-in-out;
	}

	.middle_container li span {
		display: none;
	}

	.bottom_container li span {
		display: none;
	}

	.left-container {
		width: 70px;
		padding: 10px;
	}

	.middle-item,
	.bottom-item {
		width: 20px;
		padding: 2px;
	}

	.left-sidebar-min {
		display: none;
	}

	.left-sidebar-min-botttom {
		display: none;
	}

	.right-side {
		display: none;
	}
}

@media (min-width: 487px) and (max-width: 766px) {
	.left-container {
		display: none;
	}

	.min-logo {
		display: flex;
	}

	.min-search-container {
		display: flex;
		position: fixed;
		right: 170px;
		transform: none;
		top: 10px;
		z-index: 1000;
		padding: 1px;
	}

	.min-heart {
		display: flex;
		position: fixed;
		right: 140px;
		z-index: 1000;
		transform: none;
	}

	.left-sidebar-min-botttom {
		display: flex;
	}

	.right-side {
		display: none;
	}

	.search-tab {
		display: none;
	}

	/* profile 부분에서 sidebar 상.하단 보이지 않게 하는 부분 */
	body[data-page="profile"] .left-sidebar-min,
	.left-sidebar-min-botttom {
		display: none;
	}

	.search-tab.show {
		display: none;
	}
}